body {
    background-color: #6a6363;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
  .social-media-container {
    display: flex;
    justify-content: center;
  }
  
  .social-media-container img,
  .social-media-container p {
    margin: 0 10px;
  }
  